body {}


p {border: 2px solid powderblue;}
#B {border: 0px;
	color: red;}
#A {background-color: blue;}

button {background-color: lightgreen;
		height: 30px;
		width: 200px;
		border: 1px solid lightblue;}
