

body
{
	border: 2px solid powderblue;
}


p
{
	border: 0px solid powderblue;}

#B
{
	border: 0px;
	color: red;
}

button
{
	background-color: lightgreen;
	height: 30px;
	width: 200px;
	border: 0px solid lightblue;
}

img
{
	max_width: 80%;
	height: auto;
 }

footer
{
	position: relative;
	botton: 5px;
}
